
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(asset_path("Open-Sans-Cond-Light.eot"));
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), local('Open Sans Condensed'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light.woff")) format('woff'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light.ttf")) format('truetype'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light.svg#OpenSansCondensed")) format('svg'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light.eot?#iefix")) format('embedded-opentype');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light-cyrillic-ext.woff2")) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light-cyrillic.woff2")) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light-greek-ext.woff2")) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light-greek.woff2")) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light-vietnamese.woff2")) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light-latin-ext.woff2")) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(asset_path("Open Sans Condensed/Open-Sans-Cond-Light-latin.woff2")) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(asset_path("Open-Sans-cyrillic-ext.woff2")) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(asset_path("Open-Sans-cyrillic.woff2")) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(asset_path("Open-Sans-greek-ext.woff2")) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(asset_path("Open-Sans-greek.woff2")) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(asset_path("Open-Sans-vietnamese.woff2")) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(asset_path("Open-Sans-latin-ext.woff2")) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(asset_path("Open-Sans-latin.woff2")) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(asset_path("Open-Sans.eot"));
  src: local('Open Sans'), local('OpenSans'), url(asset_path("Open-Sans.eot?#iefix")) format('embedded-opentype'), url(asset_path("Open-Sans.svg#OpenSans")) format('svg'), url(asset_path("Open-Sans.ttf")) format('truetype'), url(asset_path("Open-Sans.woff")) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url(asset_path("Droid-Serif.eot"));
  src: local('Droid Serif'), local('DroidSerif'), url(asset_path("Droid-Serif.ttf")) format('truetype'), url(asset_path("Droid-Serif.woff")) format('woff'), url(asset_path("Droid-Serif.eot?#iefix")) format('embedded-opentype'), url(asset_path("Droid-Serif.svg#DroidSerif")) format('svg');
}

/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(asset_path("Droid-Serif-latin.woff2")) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
